.root {
  position: relative;
  width: 1280px;
  height: 832px;
  align-items: flex-start;
  background-color: #02040f;
}
.divFramer72rtr7 {
  position: absolute;
  left: 0;
  right: 0;
  top: 832px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  background-color: #02040f;
  overflow: hidden;
}
.divFramer17cpdoz {
  width: 1920px;
  height: min-content;
  flex-direction: column;
  place-content: flex-end;
  align-items: center;
  gap: 3.41px;
  padding: 50px 610px 19px;
  background-color: #02040f;
  overflow: hidden;
}
.divFramer1l4zdc6 {
  position: relative;
  width: 1268px;
  height: 182px;
  align-items: flex-start;
  overflow: hidden;
}
.divFramerUvcnsw {
  position: absolute;
  left: calc(50% - 252.195px);
  top: calc(50% - 2px);
  width: 190.61px;
  height: 26px;
  flex-direction: column;
  padding: 0 36.61px 0 0;
  transform: translate(-50%, -50%);
}
.divFramerQ7rgce {
  position: absolute;
  left: calc(50% - -2.36px);
  top: calc(50% - -0.2px);
  width: 127.5px;
  height: 26px;
  flex-direction: column;
  padding: 0 13.5px 0 0;
  transform: translate(-50%, -50%);
}
.divFramerIg4vkj {
  position: absolute;
  left: calc(50% - -115.46px);
  top: calc(50% - 0.705px);
  width: 213.7px;
  height: 28.59px;
  flex-direction: column;
  padding: 0 25.7px 0.59px 0;
  transform: translate(-50%, -50%);
}
.rectangle2 {
  position: absolute;
  left: 241px;
  top: 62px;
  width: 718px;
  height: 62px;
  border-radius: 65px;
  background-color: #e59500;
}
.contact {
  color: #fff;
  font-size: 40px;
  line-height: 27.6px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 776px;
  top: 79px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.about {
  color: #fff;
  font-size: 40px;
  line-height: 25.2px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 572.61px;
  top: 78.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.projects {
  color: #fff;
  font-size: 40px;
  line-height: 25.2px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 286.5px;
  top: 76px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.sVG {
  width: 1000px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.frame {
  position: relative;
  width: 1000px;
  height: 131px;
}
.divFramer9wh1fh {
  width: 1920px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  background-color: #02040f;
  overflow: hidden;
}
.divFramer19z06q {
  width: 1720px;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 176px;
  overflow: hidden;
}
.divFramerGk8yoq {
  width: 684px;
  height: 401px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 400px 0 0;
}
.divFramer11utv11 {
  width: 600px;
  height: 541px;
  flex-direction: column;
  place-content: center;
  align-items: center;
  padding: 0 0 0.01px;
  overflow: hidden;
}
.divFramer1r7ok71 {
  width: 600px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: -1px;
  padding: 0 0 0px;
}
.heading3 {
  position: relative;
  width: 600px;
  height: 166.36px;
  align-items: flex-start;
}
.hello {
  color: #e59500;
  font-size: 64px;
  line-height: 83.2px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -3.2px;
  position: absolute;
  left: 0;
  top: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.aboutMe {
  color: #e59500;
  font-size: 28px;
  line-height: 36.4px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -1.4px;
  position: absolute;
  left: 0;
  top: 105.58px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.iAmGauravSinghCurrentlyASecond {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.9px;
  position: absolute;
  left: 0;
  top: 141.97px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.heading32 {
  width: min-content;
  height: min-content;
  padding: 0 218px 0.39px 0;
}
.studentStudyingCivilEngineerin {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.9px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.heading33 {
  width: min-content;
  height: min-content;
  padding: 0 224px 0.39px 0;
}
.haveAStrongPassionForDesignAnd {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.9px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.heading34 {
  width: min-content;
  height: min-content;
  padding: 0 231px 0.39px 0;
}
.iMParticularlyInterestedInExpl {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.9px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.heading35 {
  width: min-content;
  height: min-content;
  padding: 0 230px 0.39px 0;
}
.twoFieldsIntersectAndComplemen {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.9px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.heading36 {
  width: min-content;
  height: min-content;
  padding: 0 270px 0.39px 0;
}
.theAbilityToBlendCreativityWit {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.9px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.heading37 {
  width: min-content;
  height: min-content;
  padding: 0 258px 0.39px 0;
}
.expertiseIsWhatDrivesMeIEnjoyE {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.9px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.heading38 {
  width: min-content;
  height: min-content;
  padding: 0 204px 0.39px 0;
}
.differentDesignSoftwareExperim {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.9px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.heading39 {
  width: min-content;
  height: min-content;
  padding: 0 211px 0.39px 0;
}
.andStayingUpdatedWithTheLatest {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.9px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.heading310 {
  width: min-content;
  height: min-content;
  padding: 0 251px 0.39px 0;
}
.inThisFieldIAmExcitedToFurther {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.9px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.heading311 {
  width: min-content;
  height: min-content;
  padding: 0 296px 0.39px 0;
}
.possibilitiesOfDesignAndCoding {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.9px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.heading312 {
  width: min-content;
  height: min-content;
  padding: 0 219px 0.39px 0;
}
.engineeringAndLookForwardToApp {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.9px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.heading313 {
  width: min-content;
  height: min-content;
  padding: 0 231px 0.39px 0;
}
.toMakeAPositiveImpactInTheFiel {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.9px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.heading314 {
  width: min-content;
  height: min-content;
  padding: 0 461px 0.39px 0;
}
.readingTillHere {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.9px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divFramer16f27fn {
  width: 358px;
  height: min-content;
}
.d66fcIPwu8uwXJ9N879WuVnZhQPng {
  width: 358px;
  height: 679px;
  background-image:/* webpackIgnore: true */ url('/assets/d66fcIPwu8uwXJ9N879WuVnZhQPng.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.CollegeTheOnlyPlaceWhereThePhr {
  width: 1135px;
  height: 340px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textBlock {
  color: #fff;
  font-size: 34px;
  line-height: 62.4px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #fff;
  font-size: 34px;
  line-height: 62.4px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #fff;
  font-size: 34px;
  line-height: 62.4px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #fff;
  font-size: 34px;
  line-height: 62.4px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.divFramer1mga373 {
  width: 1920px;
  height: min-content;
  place-content: center;
  padding: 306.41px 460px 306.42px;
  background-color: #02040f;
  overflow: hidden;
}
.divFramerAwvwiy {
  opacity: 0.3;
  width: 1920px;
  height: 800px;
  align-items: flex-start;
  overflow: hidden;
}
._9Qypa9HJw1Tfs0l46riQMc3kJpg {
  width: 1920px;
  height: 800px;
  background-image:/* webpackIgnore: true */ url('/assets/_9Qypa9HJw1Tfs0l46riQMc3kJpg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.divFramerLxbwch {
  width: 1920px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 99px 460px 100px;
  background-color: #02040f;
  overflow: hidden;
}
.divFramerLlyi2j {
  width: 1000px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 529px 0.59px 0;
}
.heading2VisualExtravaganza {
  color: #e59500;
  font-size: 48px;
  line-height: 57.6px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.divFramer142jhjq {
  width: 1000px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.divFramerNugony {
  width: 1000px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.divSYpmhy4Vp {
  width: 1000px;
  height: min-content;
  border-radius: 40px;
  overflow: hidden;
}
.zMTnaHaJuqdbt3FIKFcH6VJ7YJpeg {
  width: 1000px;
  height: 400px;
  border-radius: 40px;
  background-image:/* webpackIgnore: true */ url('/assets/zMTnaHaJuqdbt3FIKFcH6VJ7YJpeg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.divFramer1hr8f2y {
  width: 1000px;
  height: min-content;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}
.divFramer19g3sbr {
  height: min-content;
  flex: 1;
  border-radius: 40px;
  overflow: hidden;
}
.qABcUocuICjDzBvYATLvTSwZEJpeg {
  width: 490px;
  height: 400px;
  border-radius: 40px;
  background-image:/* webpackIgnore: true */ url('/assets/qABcUocuICjDzBvYATLvTSwZEJpeg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.divFramerZ3hmlp {
  height: min-content;
  flex: 1;
  border-radius: 40px;
  overflow: hidden;
}
.pbM4wpLpLahofmEpjQyXPznc3yIJpe {
  width: 490px;
  height: 400px;
  border-radius: 40px;
  background-image:/* webpackIgnore: true */ url('/assets/pbM4wpLpLahofmEpjQyXPznc3yIJpe.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.divFramer4u6hmf {
  width: 1293px;
  height: 828px;
  place-content: center;
  align-items: center;
  padding: 306.41px 460px 306.42px;
  background-color: #000;
  overflow: hidden;
}
.divFramer1r8itf0 {
  opacity: 0.3;
  width: 1280px;
  height: 828px;
  align-items: flex-start;
  overflow: hidden;
}
.rectangle1 {
  width: 1598px;
  height: 828px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle1.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.divFramer1tajqzm {
  position: relative;
  width: 1920px;
  height: 427.59px;
  align-items: flex-start;
  background-color: #02040f;
}
.divFramerPpnwcoContainer {
  position: absolute;
  left: 50%;
  top: calc(50% - 73.795px);
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
}
.divFramerE94kp8 {
  position: absolute;
  left: 50%;
  top: calc(50% - -14.205px);
  width: 800px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 220.084px 0 271.48px;
  transform: translate(-50%, -50%);
}
.heading2GetInTouch {
  color: #fff;
  font-size: 48px;
  line-height: 57.6px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 308.436px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.divFramer16l10u7 {
  position: absolute;
  left: calc(50% - -26.405px);
  top: calc(50% - -87.6152px);
  width: 324.81px;
  height: 50px;
  align-items: flex-start;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.divFramerWbnr7r {
  position: absolute;
  left: calc(50% - 93.5px);
  top: calc(50% - -5px);
  width: min-content;
  height: min-content;
  padding: 10.61px 24.81px 12.39px 26px;
  border-radius: 8px;
  background-color: #e59500;
  transform: translate(-50%, -50%);
}
.contactNow {
  color: #000;
  font-size: 14px;
  line-height: 16.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.divFramerB7wgue {
  position: absolute;
  left: calc(50% - -73.915px);
  top: calc(50% - -5px);
  width: min-content;
  height: min-content;
  padding: 10.61px 35px 12.39px;
  border-radius: 8px;
  background-color: #e5dada;
  transform: translate(-50%, -50%);
}
.browseProjects {
  color: #02040f;
  font-size: 14px;
  line-height: 16.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.divFramer73v4kb {
  width: 1920px;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: center;
  gap: 20px;
  padding: 100px 918px;
  background-color: #02040f;
  overflow: hidden;
}
.divFramer1efsomfContainer {
  width: 80px;
  height: min-content;
}
.divMaskGroup {
  position: relative;
  width: 80px;
  height: 80px;
  align-items: flex-start;
}
.div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: flex-start;
  background-image: linear-gradient(-45deg, #e5dadaff 0%, #e59500ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/divMaskGroup.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/divMaskGroup.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
  mask-position: 0px 0px;
  -webkit-mask-size: 80px 199.99978637695312px;
  mask-size: 80px 199.99978637695312px;
}
.sVG2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: min-content;
  place-content: center;
  overflow: hidden;
}
.frame2 {
  position: relative;
  width: 300px;
  height: 150px;
}
.divFramer1cch96 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 20px;
}
.link {
  width: 32px;
  height: min-content;
}
.image {
  width: 32px;
  height: 32px;
}
.icon {
  width: 100%;
  height: 100%;
}
.link2 {
  width: 32px;
  height: min-content;
}
.image2 {
  width: 32px;
  height: 32px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.sCROLLDOWNTOKNOWMOREABOUTME {
  position: absolute;
  left: 64px;
  top: 165px;
  width: 1216px;
  height: 667px;
  justify-content: center;
  flex-direction: column;
}
.labelWrapper {
  font-size: 100px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #fff;
  font-size: 100px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #e59500;
  font-size: 100px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label3 {
  color: #fff;
  font-size: 100px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label4 {
  color: #e59500;
  font-size: 100px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  margin-top: 0;
  color: #e59500;
  font-size: 100px;
  font-family: Jua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
